.register{
    height: 100vh;
    background: linear-gradient(rgb(108, 0, 67),rgb(128, 49, 148),rgb(212, 0, 254));
    display: flex;
    align-items: center;
    justify-content: center;
  
    .card{
      display: flex;  
      flex-direction: row-reverse;
      background-color: white;
      width: 60%;
      border-radius: 10px;
      overflow: hidden; //image sharp corner prevent
  
      .left{
        flex: 1;
        background: linear-gradient(rgba(192, 161, 230,0.2) , rgba(214, 124, 158,0.2)), url("https://wallpaperaccess.com/full/177944.jpg") center;
        min-height: 450px;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: rgb(255, 255, 255);
        h1{
          font-size: 75px;
          line-height: 100px;
        }
        p{
          text-align:justify;
        }
        span{
          font-size: 14px;
        }
        button{
          width: 50%;
          padding: 10px;
          border: none;
          border-radius: 5px;
          background-color: white;
          color: rebeccapurple;
          font-weight: bold;
          cursor: pointer;
        }
  
      }
    
      .right{
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
          h1{
            color: #555;
          }
          form{
            display: flex;
            flex-direction: column;
            gap: 30px;
            input{
              border: none;
              border-bottom: 1px solid lightgray;
              padding: 20px 10px;
            }
            button{
              width: 50%;
              padding: 10px;
              border: none;
              border-radius: 5px;
              background-color: rgb(155, 63, 188);
              color: white;
              font-weight: bold;
              cursor: pointer;
            }
          }
      }
    }
  
  }
  
  